{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="icon" type="image/png" href="/media/apple.png">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body class="d-flex flex-column h-100">

<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light fw-bold ms-3 ms-md-5" href="{% url 'default' %}">{{ app_name }}</a>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="text-center mt-auto bg-dark py-2">
    <p class="text-light mb-0">{{ app_name }} - {% now "Y" %}</p>
</footer>

</body>
</html>
