{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content d-flex flex-column justify-content-center align-items-center bg-primary text-center py-5">
    <h1 class="display-4 text-dark fw-bold mb-3">The Power of Good Habits</h1>
    <p class="h3 text-secondary fw-bold mb-4">Introducing the good habits of happiness</p>
    <div class="text-dark bg-primary px-3 px-md-5" style="max-width: 900px;">
        <p class="lead fw-bold" style="font-size: 23px;">
            Check Your Habits – Are You Living a Healthy Life?<br>
            Our daily habits shape our health, mood, and long-term goals.<br>
            Before making any changes, it’s important to ask yourself:<br>
            What are my habits like right now?
        </p>
        <p class="lead mb-4">Check quiz</p>
        <button type="submit" class="btn btn-warning btn-lg">Start Quiz</button>
    </div>
</div>


{% endblock %}
