{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="main-content d-flex flex-column justify-content-center align-items-center text-center py-5"
         style="background-image: url('/media/background.jpg');
                 background-size: cover;
                 background-position: center;
                 background-repeat: no-repeat;
                 min-height: 100vh;">
        <div class="w-100 h-100 bg-white opacity-50 position-absolute z-1"></div>
        <div class="z-2">
            <h1 class="display-5 fw-bold mb-3">The Power of Good Habits</h1>
            <div class="mt-3 d-flex flex-column">
                <p class="fw-bold" style="font-size: 22px">
                    Are You Living a Healthy Life?
                </p>
                <p class="fw-bold" style="font-size: 18px">
                    Our daily habits shape our health, mood, and long-term wellbeing.<br>
                    Before making any changes to your lifestyle, it’s important to ask yourself:<br>
                    What are my habits like right now?
                </p>
                <hr class="border-2 opacity-75">
                <div>
                    <p style="font-size: 18px">Take this quiz to find out now!</p>
                    <a href="{% url 'quiz' %}" type="submit" class="btn btn-primary btn-lg">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
